@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos</h1>
    <p>Implementei duas funcionalidades CRUD que podem ser acessadas através do menu lateral.</p>
    <p>Tomei como referência uma aplicação fictícia de recrutamento e seleção de candidatos que chamaremos de RhTech.</p>
</div>
