@model RhTech.Core.Application.ViewModels.CandidatoViewModel

@{
    ViewData["Title"] = "Candidatos";
    ViewData["SubTitle"] = "Alterar";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NomeCompleto" class="control-label"></label>
                                <input asp-for="NomeCompleto" class="form-control" />
                                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Cpf" class="control-label"></label>
                                <input asp-for="Cpf" class="form-control cpf" />
                                <span asp-validation-for="Cpf" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataNascimento" class="control-label"></label>
                                <input asp-for="DataNascimento" class="form-control" />
                                <span asp-validation-for="DataNascimento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Genero" class="control-label"></label>

                                <select asp-for="Genero" class="form-control">
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>

                                <span asp-validation-for="Genero" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Nacionalidade" class="control-label"></label>
                                <input asp-for="Nacionalidade" class="form-control" />
                                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-labeled btn-labeled-start">
                                <span class="btn-labeled-icon bg-black bg-opacity-20">
                                    <i class="ph-check-square-offset"></i>
                                </span>
                                Salvar
                            </button>
                            <a class="btn btn-danger btn-labeled btn-labeled-start" asp-action="Index">
                                <span class="btn-labeled-icon bg-black bg-opacity-20">
                                    <i class="ph-arrow-arc-left"></i>
                                </span>
                                Voltar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
